<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hugo Dashboard - Serving [ {{ .title }} ]</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <style>
    .editor-preview,
    .editor-preview-active {
        line-height: 35px;
    }
    </style>
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-teal p-6">
        <div class="flex items-center flex-no-shrink text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">{{ .title }}</span>
        </div>
    </nav>

    <!-- Two columns -->
    <div class="flex mb-4 h-screen">
        <div class="w-1/4 bg-grey-light overflow-auto">
            <div id="files-tree"></div>
        </div>
        <div class="w-3/4 bg-grey .leading-normal overflow-auto">
            <textarea name="" id="editor" cols="30" rows="10"></textarea>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>


    <script>
        var tree = JSON.parse({{.pages_list}})
        var dirTree = []
            ids = [];
        for(let i=0; i < tree.length; i++) {
            let f = tree[i];
            dirs = f.split("/").filter(function(v){ return v != ""; })
            parent = "#";
            $.each(dirs,function(i,v){
                id = dirs.slice(0,i+1)
                if(ids[id] === undefined) {
                    icon = ""
                    if(dirs.length == i+1) {
                        icon = "#"
                    }
                    dirTree.push({ "id" : id, "parent" : parent, "text" : v, "icon" : icon })
                    ids[id] = 0;
                }
                parent = id
            })
        }
        $('#files-tree')
        .on('select_node.jstree', function (e, data) {
            if(data.node.children.length > 0) {
                return
            }
            var i, j, r = [];
            for(i = 0, j = data.selected.length; i < j; i++) {
            r.push(data.instance.get_node(data.selected[i]).text);
            }
            openFile(`/${data.node.parents[0].split(',').join('/')}/${r[0]}`)
        })
        .jstree({ 'core' : {
            "multiple" : false,
            "animation" : 0,
            'data' : dirTree
        } });


        var simplemde = new SimpleMDE({
            element: document.getElementById("editor"),
            spellChecker: false,
            toolbar: [
                "bold", "italic", "heading", "|", "quote","image","table","|","preview","side-by-side","fullscreen","|",
                {
                name: "save",
                action: function(editor){
                    if(editor.value() == originalFileContent) {
                        console.log("Nothing changed");
                        return;
                    }

                    saveFile(currentFilePath,editor.value())
                },
                className: "fa fa-save",
                title: "Save Changes",
            }],
        });

        // Open speicifc file
        var originalFileContent = null;
        var currentFilePath = null;
        var openFile = function(path) {
            $.ajax({
                url: `/page?p=${path}`,
                error: function(){
                    alert('Something went wrong')
                },
                success: function(response){
                    currentFilePath = path;
                    originalFileContent = response.content;
                    simplemde.value(response.content);
                }
            })
        }

        var saveFile = function(path,content) {
            $.ajax({
                url: `/page?p=${path}`,
                method: "POST",
                data : {
                    "content" : content,
                },
                error: function(){
                    alert('Something went wrong')
                },
                success: function(response){
                    originalFileContent = content
                    alert('Changes you have made has been saved succesfully.');
                }
            })
        }

        $(function() {
            $.contextMenu({
                selector: '.jstree-anchor',
                callback: function(key, options) {
                    let path = $(this).attr('id').replace('_anchor','').replace(',','/');
                    if(key == "new-file") {
                        fname = window.prompt("Enter filename: ")
                        if(fname != null) {
                            createFile(path,fname);
                        }
                    }

                    if(key == "new-folder") {
                        fname = window.prompt("Enter directory name: ")
                        if(fname != null) {
                            createDir(path,fname);
                        }
                    }
                },
                items: {
                    "new-file": {name: "New File", icon: "fa-file"},
                    "new-folder": {name: "New Directory", icon: "fa-folder"},
                }
            });
        });

        var createFile = function(path,filename){
            filename = filename.replace(/\s/g,'-');
            $.ajax({
                url: `/create/file`,
                method: "POST",
                data : {
                    "path" : `${path}/${filename}.md`,
                },
                error: function(){
                    alert('Something went wrong')
                },
                success: function(response){
                    dirs = path.split("/");
                    parent = dirs
                    id = `${path}/${filename}.md`.split('/')
                    dirTree.push({ "id" : id, "parent" : parent, "text" : `${filename}.md`, "icon" : '#' })
                    $('#files-tree').jstree(true).settings.core.data = dirTree
                    $('#files-tree').jstree(true).refresh();
                }
            })
        }

        var createDir = function(path,filename){
            var directoryName = filename.replace(/\s/g,'-');
            $.ajax({
                url: `/create/dir`,
                method: "POST",
                data : {
                    "path" : `${path}/${directoryName}`,
                },
                error: function(){
                    alert('Something went wrong')
                },
                success: function(response){
                    dirs = path.split("/");
                    parent = dirs
                    id = `${path}/${directoryName}`.split('/')
                    dirTree.push({ "id" : id, "parent" : parent, "text" : `${directoryName}`, "icon" : '' })
                    $('#files-tree').jstree(true).settings.core.data = dirTree
                    $('#files-tree').jstree(true).refresh();
                }
            })
        }
    </script>
</body>
</html>